* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  font-size: 15pt;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  width: 100%;
  height: 100vh;
  position: relative;
  /*background: rgb(2, 0, 36);
   */
}

header {
  width: 100%;
  max-height: 150px;

  top: 0;
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;

  background-color: hsla(0, 0%, 99%, 0.50);
  backdrop-filter: blur(50px);
  z-index: 2;
}

header .head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.head img {
  width: 100px;
  height: 80px;
}


.head p {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  font-style: italic;
  text-shadow: 2px 7px 10px black;
}

header input {
  width: 100%;
  height: 40px;

  outline: none;
  border-radius: 30px;
  padding: 5px 15px;

  font-size: 15px;
  color: black;
}

.main {
  margin-top: 150px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
}

.weather-info img {
  width: 150px;
  height: 150px;
  
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.weather-info p {
  font-size: 30px;
  font-style: bold;
  margin: 10px;
}

.weather-info h1 {
  color: #fff;
}

marquee {
  margin-top: 10px;
  font-size: 20px;
}

.main .other-info {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  margin-top: 80px;
}

.other-info .humidity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px
}

.humidity img {
  width: 50px;
  height: 50px;
}

.humidity p {
  font-size: 25px;
}

.humidity h5 {
  color: #fff;
}

.other-info .wind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px
}

.wind img {
  width: 50px;
  height: 50px;
}

.wind p {
  font-size: 25px;
}

.wind h5 {
  color: #fff;
}

.loader {
  background-color: hsla(0, 100%, 0%, 0.69);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
}

.loader img {
  width: 100px;
  height: 80px;
  
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}